<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="snlstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular-sanitize.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular-route.js"></script>
    <script src="app.js"></script>
    <title>Store Norske Leksikon</title>
  </head>
  <body ng-app="snlApp" ng-controller="searchCtrl">
    <div class="mainSearch">
      <div class="searchinput">
        <input class="searchfield" type="text" name="searchfield" ng-model="searchme" ng-change="fetchResults()" placeholder="Søk i det Store Norske Leksikon">
      </div>
    </div>
    <div class="artikkel">
<!--
      <h1>{{articles.title}}</h1>

      <p>Dato opprettet: {{articles.created_at}}</p>
      <p>Endret: {{articles.changed_at}}</p>

      <a href="{{articles.url}}">Lenke til artikkelen</a><br/>

      <a href="{{articles.subject_url}}">{{articles.subject_title}}</a><br/>

      <div ng-bind-html="articles.xhtml_body">
        {{articles.xhtml_body}}
      </div>-->

      <ul class="searchresults">
        <li ng-repeat="article in articles">
          <h2>{{article.title}}</h2>
          <a href="#">Lenke</a>
          <p>Kategori: {{article.taxonomy_title}}</p>
          <strong>{{article.clarification}}</strong>
          <p ng-bind-html="article.snippet"></p>
        </li>
      </ul>
    </div>
  </body>
</html>
