<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="snlstyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.5.0-rc.0/angular-sanitize.js"></script>
    <script>
    var appang = angular.module('myApp', ['ngSanitize']);
    appang.controller('searchCtrl', function($scope, $http) {
        $scope.searchme;
        //$scope.search  = "Norge";

        $scope.getResults = function() {

          $http({
            method: 'GET',
            url: 'https://snl.no/api/v1/search?query=' + $scope.searchme
          }).then(function successCallback(response){
            console.log("It works");
            $scope.myData = response.data;
          }, function errorCallback(response) {
            console.log("its alive");
          });

        }
        $scope.getSingleArticle = function(id) {
          $http.get("https://snl.no/api/v1/search?query=" + $scope.searchme).then(function(response) {
              $scope.myData = response.data;
              //console.log(myData);
          });
        }

    });
    </script>
    <title>Store Norske Leksikon</title>
  </head>
  <body ng-app="myApp" ng-controller="searchCtrl">
    <div class="mainSearch">
      <div class="searchinput">
        <input class="searchfield" type="text" name="searchfield" ng-model="searchme" ng-change="getResults()">
      </div>
    </div>
    <div class="artikkel">
<!--
      <h1>{{myData.title}}</h1>

      <p>Dato opprettet: {{myData.created_at}}</p>
      <p>Endret: {{myData.changed_at}}</p>

      <a href="{{myData.url}}">Lenke til artikkelen</a><br/>

      <a href="{{myData.subject_url}}">{{myData.subject_title}}</a><br/>

      <div ng-bind-html="mydata.xhtml_body">
        {{myData.xhtml_body}}
      </div>-->

      <ul class="searchresults">
        <li ng-repeat="article in myData">
          <h2>{{article.title}}</h2>
          <a href="{{article.article_url}}">Link</a>
          <strong>{{article.clarification}}</strong>
          <p ng-bind-html="article.snippet"></p>
          <hr>
        </li>
      </ul>
    </div>
  </body>
</html>
