
html {
  margin: 0;
padding: 0;
}

body {
  margin: 0;
}

.mainSearch {
  height: 250px;
    background-color: #1E3C4E;
}

.searchinput {
  text-align: center;
position: relative;
top: 25%;
}

.searchfield {
  font-size: 26px;
padding: 2px;
background-color: transparent;
border: none;
color: white;
border-bottom: 1px solid #fff;
text-align: center;
}

.searchfield:focus {
  outline: none;
}

.mainSearch input[type="submit"] {
  font-size: 18px;
margin-left: 10px;
border-radius: 2px;
background-color: white;
border-color: white;
}

.artikkel {
  padding: 15px;
}

.searchresults {
  list-style: none;
}
