
html {
  margin: 0;
padding: 0;
font-family: Georgia, serif;

}

body {
  margin: 0;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: #1E3C4E;
}

.mainSearch {
  height: 250px;
    background-color: #1E3C4E;
}

.searchinput {
  text-align: center;
position: relative;
top: 25%;
}

.searchfield {
  font-size: 26px;
padding: 2px;
background-color: transparent;
border: none;
color: white;
border-bottom: 1px solid #fff;
text-align: center;
    width: 560px;
}

.searchfield:focus {
  outline: none;
}

.mainSearch input[type="submit"] {
  font-size: 18px;
margin-left: 10px;
border-radius: 2px;
background-color: white;
border-color: white;
}

.artikkel {
  padding: 15px;
}

.searchresults {
  list-style: none;
}

.searchresults li {
  border: 1px solid #000;
  padding: 35px;
  width: 40%;
  float: left;
  height: 300px;
  margin: 10px;
  background-color: #E9E9E9;
}

.searchresults li mark {
    background-color: #E9E9E9 !important;
    font-style: italic;
    text-decoration: underline;
}
